.notfound__page {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/922/650/372/astronaut-space-fantasy-art-planet-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 140vw; */
}
